.section4 {
  height: 45vh;
  /* --tw-bg-opacity: 0.4;
  background-color: rgb(44 57 91 / var(--tw-bg-opacity)); */
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2c395b;
  text-align: center;
  background: white;
}

.section_container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.section_container h2 {
  font-size: 2.2rem;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .section_container h2 {
    font-size: 1.3rem;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1300px) {
  .section_container {
    padding: 0;
  }
  .section_container h2 {
    font-size: 1.8em;
    margin-bottom: 25px;
  }
}

@media screen and (min-width: 800px) and (max-width: 900px) {
  .section_container {
    padding: 0;
  }
  .section_container h2 {
    font-size: 2em;
    margin-bottom: 40px;
  }
}
