.section4 {
  height: 25vh;
  background-color: #232f37;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.section_container {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
}

.section_container h2 {
  font-size: 3rem;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .section_container {
    align-items: start;
    padding: 0;
  }
  .section_container h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
}
