iframe {
  width: 100% !important;
  height: 600px !important;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.insta {
  display: flex;
  justify-content: center;
}

.l-article h1 {
  line-height: 1.2;
  font-family: "Oswald", sans-serif;
  margin-bottom: 20px;
}

.l-article h2 {
  line-height: 1.2;
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.l-article h3 {
  line-height: 1.2;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.l-article iframe {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

/* .l-article figure {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
  width: 100% !important;
  display: flex !important;
  align-items: center !important;
  flex-direction: column !important;
} */

/* .l-article img {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  width: 45%;
  display: flex !important;
  align-items: center !important;
  flex-direction: column !important;
  border-radius: 5px;
} */

.l-article li {
  margin-left: 28px;
  line-height: 1.5;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 300;
  font-family: "Yrsa", serif;
}

.l-article li::before {
  content: "\f0a4"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  /* margin-left: -1.3em; */
  margin-right: 10px; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
}

.l-article li a {
  text-decoration: underline;
}

.img-full img {
  /* width: 100% !important; */
  max-width: 900px;
  max-height: 815.625px;
  min-width: 35.5556px;
  min-height: 20px;
  border-radius: 5px;
  margin: 0 auto;
}

.img-full figcaption {
  text-align: center;
  margin-top: 10px;
  font-weight: 400;
  font-size: 16px;
}

.is-style-dots {
  background: none !important;
  border: none;
  height: auto;
  line-height: 1;
  text-align: center;
}

.is-style-dots::before {
  color: currentColor;
  content: "···";
  font-family: serif;
  font-size: 1.5em;
  letter-spacing: 2em;
  padding-left: 2em;
}

.gallery-img {
  display: grid !important;
  grid-template-columns: repeat(3, 1fr) !important;
  gap: 10px;
}

.gallery-img > figure {
  position: relative;
}

.gallery-img > figure > img {
  object-fit: cover;
  width: 100%;
  height: 400px;
  border-radius: 10px;
}

.gallery-img > figure > figcaption {
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 9999;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  width: 80%;
  background-color: teal;
  padding: 10px 0;
  border-radius: 5px;
}

.gallery-img2 {
  display: grid !important;
  grid-template-columns: repeat(2, 1fr) !important;
  gap: 20px;
  padding: 20px 0;
}

.gallery-img2 > figure {
  position: relative;
}

.gallery-img2 > figure > img {
  object-fit: cover;
  width: 100%;
  height: 500px;
  border-radius: 10px;
}

.gallery-img2 > figure > figcaption {
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 9999;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  width: 80%;
  background-color: teal;
  padding: 10px 0;
  border-radius: 5px;
}

.btn {
  border-color: transparent !important;
  color: #2c395b;
  background-color: transparent !important;
  border-width: 0px !important;
  border-radius: 10px !important;
}

.btn-active {
  background-color: #fe6847 !important;
}

.tab-lifted.tab-active {
  border-left-color: #2c395b !important;
  border-top-color: #2c395b !important;
  border-right-color: #2c395b !important;
  border-bottom-color: #2c395b !important;
}

/* blog section */
.hero h2,
.hero p {
  text-shadow: none;
}
.card-body p {
  text-shadow: none;
}

@media screen and (max-width: 768px) {
  .l-article img {
    width: 100%;
  }
  .gallery-img {
    display: grid !important;
    grid-template-columns: repeat(1, 1fr) !important;
    gap: 10px;
  }
}
