iframe {
  width: 100% !important;
  height: 600px !important;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

h3 {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

h2 {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* blog section */
.hero h2,
.hero p {
  text-shadow: none;
}
.card-body p {
  text-shadow: none;
}
