iframe {
  width: 100% !important;
  height: 600px !important;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.insta {
  display: flex;
  justify-content: center;
}

.l-article h1 {
  line-height: 1.2;
  font-family: "Oswald", sans-serif;
  margin-bottom: 20px;
}

.l-article h2 {
  line-height: 1.2;
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.l-article h3 {
  line-height: 1.2;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.l-article iframe {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

.l-article figure {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
  width: 100% !important;
  display: flex !important;
  align-items: center !important;
  flex-direction: column !important;
}

.l-article img {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  width: 45%;
  display: flex !important;
  align-items: center !important;
  flex-direction: column !important;
  border-radius: 5px;
}

.l-article li {
  margin-left: 28px;
  line-height: 1.5;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 300;
  font-family: "Yrsa", serif;
}

.l-article li::before {
  content: "\f0a4"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  /* margin-left: -1.3em; */
  margin-right: 10px; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
}

.l-article li a {
  text-decoration: underline;
}

.btn {
  border-color: transparent !important;
  color: #2c395b;
  background-color: transparent !important;
  border-width: 0px !important;
  border-radius: 10px !important;
}

.btn-active {
  background-color: #fe6847 !important;
}

.tab-lifted.tab-active {
  border-left-color: #2c395b !important;
  border-top-color: #2c395b !important;
  border-right-color: #2c395b !important;
  border-bottom-color: #2c395b !important;
}

/* blog section */
.hero h2,
.hero p {
  text-shadow: none;
}
.card-body p {
  text-shadow: none;
}

@media screen and (max-width: 768px) {
  .l-article img {
    width: 100%;
  }
}
