.gallery {
  display: flex;
  flex-wrap: wrap;
  /* Compensate for excess margin on outer gallery flex items */
  margin: -1rem -1rem;
}

.gallery-item {
  /* Minimum width of 24rem and grow to fit available space */
  flex: 1 0 24rem;
  /* Margin value should be half of grid-gap value as margins on flex items don't collapse */
  /* margin: 1rem; */
  box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
  overflow: hidden;
  border-radius: 10px;
}

.gallery-image {
  display: block;
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
  transition: transform 400ms ease-out;
  height: 124px;
  /* width: 368px; */
  border-radius: 10px;
}

.gallery-image:hover {
  transform: scale(1.15);
}

@supports (display: grid) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
    grid-gap: 1rem;
  }

  .gallery,
  .gallery-item {
    margin: 0;
  }
}
