@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Oswald", sans-serif;
}

body {
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  font-family: "Yrsa", serif;
}

h4 {
  font-family: "Nunito", serif;
  font-size: 25px;
}

* {
  box-sizing: border-box;
}

.menu {
  height: 100px;
}

.menu-nav {
  display: flex;
  align-items: center;
}

.menu-nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-nav li {
  list-style: none;
}
.menu-nav a {
  margin-right: 40px;
  margin-left: 40px;
  display: flex;
  align-items: center;
  padding: 4px 0;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
}

/* .hero_container {
  background: linear-gradient(180deg, #9dc1eb 0%, #eaf3fa 100%);
}

.hero {
  background: url(../public/assets/prato.webp);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
} */

.hero {
  width: 100%;
  min-height: 800px;
  position: relative;
  top: 0;
  left: 0;
  background-color: #d9edfd;
  text-align: center;
}

.layer-1 {
  -webkit-animation: parallax_fg linear 20s infinite both;
  animation: parallax_fg linear 20s infinite both;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/24650/1.png) 0
    100% repeat-x;
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: auto 136px;
}

.layer-2 {
  -webkit-animation: parallax_fg linear 30s infinite both;
  animation: parallax_fg linear 30s infinite both;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/24650/2.png) 0
    100% repeat-x;
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: auto 145px;
}

.layer-3 {
  -webkit-animation: parallax_fg linear 55s infinite both;
  animation: parallax_fg linear 55s infinite both;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/24650/3.png) 0
    100% repeat-x;
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: auto 158px;
}

.layer-4 {
  -webkit-animation: parallax_fg linear 75s infinite both;
  animation: parallax_fg linear 75s infinite both;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/24650/4.png) 0
    100% repeat-x;
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: auto 468px;
}

.layer-5 {
  -webkit-animation: parallax_fg linear 95s infinite both;
  animation: parallax_fg linear 95s infinite both;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/24650/5.png) 0
    100% repeat-x;
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: auto 311px;
}

.layer-6 {
  -webkit-animation: parallax_fg linear 120s infinite both;
  animation: parallax_fg linear 120s infinite both;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/24650/6.png) 0
    100% repeat-x;
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: auto 222px;
}

.bike-1,
.bike-2 {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/24650/bike.png) 0
    100% no-repeat;
  z-index: 1;
  position: absolute;
  bottom: 100px;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: auto 75px;
}

.bike-1 {
  -webkit-animation: parallax_bike linear 10s infinite both;
  animation: parallax_bike linear 10s infinite both;
}

.bike-2 {
  -webkit-animation: parallax_bike linear 15s infinite both;
  animation: parallax_bike linear 15s infinite both;
}

@-webkit-keyframes parallax_fg {
  0% {
    background-position: 2765px 100%;
  }
  100% {
    background-position: 550px 100%;
  }
}

@keyframes parallax_fg {
  0% {
    background-position: 2765px 100%;
  }
  100% {
    background-position: 550px 100%;
  }
}
@-webkit-keyframes parallax_bike {
  0% {
    background-position: -300px 100%;
  }
  100% {
    background-position: 2000px 100%;
  }
}
@keyframes parallax_bike {
  0% {
    background-position: -300px 100%;
  }
  100% {
    background-position: 2000px 100%;
  }
}
.logo {
  margin: 70px auto;
  position: absolute;
  z-index: 2;
  width: 100%;
}
.logo img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
@media (max-width: 700px) {
  .logo img {
    max-width: 90%;
  }
}

.hero h1 {
  text-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
}

.hero h2 {
  font-family: "Nunito", sans-serif;
}

.hero p {
  font-family: "Yrsa", serif;
}

.header_mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  position: relative;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
}

.menu-hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  transition: 1s tranform;
  width: 30px;
  height: 21px;
}

.menu-hamburger-line {
  width: 20px;
  height: 2.5px;
  background-color: #5d68a6;
  border-radius: 5px;
}

.menu-hamburger-line:nth-child(2) {
  width: 30px;
  height: 2.5px;
  background-color: #5d68a6;
  z-index: 1;
  transition: 0.5s width;
  border-radius: 5px;
}

.menu_mobile_content {
  position: fixed;
  top: 0;
  /* right: 0; */
  display: flex;
  opacity: 0;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 0;
  height: 100%;
  padding-top: 100px;
  background-color: white;
}

.menu_mobile_body {
  width: 100%;
  height: 100%;
  opacity: 1;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  overflow-y: hidden;
}

.menu_mobile_item {
  display: flex;
  flex-direction: column;
  height: 65%;
}

.socials {
  height: 35%;
  margin: 0 auto;
}

.socials a {
  margin-left: 0;
  margin-top: 30px;
}

.menu_mobile_item ul {
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 4px 0;
  list-style: none;
  height: 100%;
}

.menu_mobile_item ul li a {
  margin-left: 0;
}

.menu_mobile_item li a.active {
  color: red;
}

.shape {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
}

.arrow_icon {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}

/* .bg-toscana {
  width: 600px;
  height: 600px;
  background-image: url(../public/assets/toscana.svg);
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.5;
} */

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: #0d0d0d;
    background: rgb(255, 255, 255);
  }
}
