@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .hero_left {
    -webkit-clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
    border-radius: 10px;
  }
  .bgImage {
    background-image: url(../public/assets/lou.jpg);
    background-size: cover;
    background-position: center;
    height: 70vh;
    border-radius: 10px;
  }

  .bgCities {
    background-size: cover;
    background-position: center;
  }

  .grain {
    background-image: url(../public/assets/noise.7f2f5230.png);
  }

  @media screen and (min-width: 300px) and (max-width: 920px) {
    .bgImage {
      height: 38vh;
      border-radius: 0;
    }
  }

  .bgTour {
    height: 50vh;
    transition: all 0.8s;
  }

  .bgExpand {
    height: 70vh;
    position: relative;
  }

  .bgExpand::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
  }

  .bgText {
    transition: all 0.3s ease-in-out;
  }

  .arrow {
    transition: all 0.5s;
  }

  .arrowRotate {
    transform: translateX(-50%) rotate(180deg);
  }

  .hand-pointer {
    cursor: url("../public/assets/hand-cursor_small.png"), auto;
    animation: pointing-hand-cursor 2s infinite forwards;
  }

  .elenco_tours {
    list-style: none;
    padding: 0;
  }

  .elenco_tours li {
    padding-left: 1.3em;
    display: flex;
  }

  .elenco_tours li::before {
    content: "\f0a4"; /* FontAwesome Unicode */
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em;
    margin-right: 10px; /* same as padding-left set on li */
    width: 1.3em; /* same as padding-left set on li */
  }

  .ticket {
    padding: 0;
    color: #fe6847;
  }

  .ticket a {
    padding-left: 1.3em;
    display: flex;
  }

  .ticket a::before {
    content: "\f0a4"; /* FontAwesome Unicode */
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em;
    margin-right: 10px; /* same as padding-left set on li */
    width: 1.3em; /* same as padding-left set on li */
    color: #232f37;
  }
}

.bold_text {
  color: #fe6847;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Oswald", sans-serif;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  /* background-image: url(../public/assets/noise.7f2f5230.png); */
  background-size: 1440px auto;
  background-color: white;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  font-family: "Nunito", serif;
  font-weight: 400;
}

span {
  font-family: "Nunito", serif;
}

h4 {
  font-family: "Nunito", serif;
  font-size: 25px;
}

* {
  box-sizing: border-box;
}

/*  Menu  */

.menu_container {
  height: 100px;
}

.menu-nav {
  display: flex;
  align-items: center;
}

.menu-nav .links {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-nav li {
  list-style: none;
}
.menu-nav a {
  margin-right: 40px;
  margin-left: 40px;
  display: flex;
  align-items: center;
  padding: 4px 0;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
}

/*  Fine Menu */

/*  Hero and Animation */

.hero {
  width: 100%;
  min-height: 800px;
  position: relative;
  top: 0;
  left: 0;
  background: hsla(205, 100%, 67%, 1);
  background: linear-gradient(
    90deg,
    hsla(204, 68%, 41%, 1) 0%,
    hsla(205, 100%, 67%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(204, 68%, 41%, 1) 0%,
    hsla(205, 100%, 67%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(204, 68%, 41%, 1) 0%,
    hsla(205, 100%, 67%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#57b8ff", endColorstr="#2176ae", GradientType=1 );
  overflow-x: hidden;
}

.layer-1a {
  background: url(../public/assets/hero/bird.webp) 0 100% no-repeat;
  z-index: 2;
  position: absolute;
  top: 147px;
  left: 40px;
  width: 37px;
  height: 23px;
  background-size: auto 16px;
}

.layer-2a {
  background: url(../public/assets/hero/bird.webp) 0 100% no-repeat;
  z-index: 2;
  position: absolute;
  top: 181px;
  left: 50%;
  width: 37px;
  height: 23px;
  background-size: auto 16px;
}

.layer-2ab {
  background: url(../public/assets/hero/bird.webp) 0 100% no-repeat;
  z-index: 2;
  position: absolute;
  top: 281px;
  left: 280px;
  width: 37px;
  height: 23px;
  background-size: auto 16px;
}

.layer-3a {
  background: url(../public/assets/hero/bird.webp) 0 100% no-repeat;
  z-index: 2;
  position: absolute;
  top: 114px;
  right: 40px;
  width: 37px;
  height: 23px;
  background-size: auto 16px;
}

.layer-3ab {
  background: url(../public/assets/hero/bird.webp) 0 100% no-repeat;
  z-index: 2;
  position: absolute;
  top: 214px;
  right: 240px;
  width: 37px;
  height: 23px;
  background-size: auto 16px;
}

.layer-4a {
  background: url(../public/assets/hero/cloud_small.webp) 0 100% no-repeat;
  z-index: 1;
  position: absolute;
  top: 154px;
  left: 80px;
  width: 169px;
  height: 53px;
  background-size: auto 33px;
}

.layer-5a {
  background: url(../public/assets/hero/cloud_big.webp) 0 100% no-repeat;
  z-index: 2;
  position: absolute;
  top: 108px;
  left: 269px;
  width: 252px;
  height: 58px;
  background-size: auto 50px;
}

.layer-6a {
  background: url(../public/assets/hero/cloud_big.webp) 0 100% no-repeat;
  z-index: 1;
  position: absolute;
  top: 118px;
  right: 269px;
  width: 252px;
  height: 58px;
  background-size: auto 50px;
}

.layer-7a {
  background: url(../public/assets/hero/cloud_small.webp) 0 100% no-repeat;
  z-index: 1;
  position: absolute;
  top: 154px;
  right: 20px;
  width: 169px;
  height: 53px;
  background-size: auto 33px;
}

.layer-2 {
  -webkit-animation: parallax_fg linear 30s infinite both;
  animation: parallax_fg linear 30s infinite both;
  background: url(../public/assets/hero/erba_lou_l2.webp) 0 100% repeat-x;
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: auto 65px;
}

.layer-3 {
  background: url(../public/assets/hero/erba_lou_l3.webp) 0 100% repeat-x;
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: auto 75px;
}

.layer-4 {
  -webkit-animation: parallax_fg linear 75s infinite both;
  animation: parallax_fg linear 75s infinite both;
  background: url(../public/assets/hero/building_lou.webp) 0 100% repeat-x;
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: auto 408px;
}

.layer-5 {
  -webkit-animation: parallax_fg linear 95s infinite both;
  animation: parallax_fg linear 95s infinite both;
  background: url(../public/assets/hero/build_2.webp) 0 100% repeat-x;
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: auto 400px;
}

.bike-1,
.bike-2,
.bike-3 {
  background: url(../public/assets/hero/cavallo.webp) 0 100% no-repeat;
  z-index: 1;
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  height: 18%;
  background-size: auto 75px;
}

.bike-1 {
  -webkit-animation: parallax_bike linear 10s infinite both;
  animation: parallax_bike linear 10s infinite both;
}

.bike-2 {
  -webkit-animation: parallax_bike linear 15s infinite both;
  animation: parallax_bike linear 15s infinite both;
}

.bike-3 {
  -webkit-animation: parallax_bike linear 20s infinite both;
  animation: parallax_bike linear 20s infinite both;
}
@-webkit-keyframes parallax_fg {
  0% {
    background-position: 2765px 100%;
  }
  100% {
    background-position: 550px 100%;
  }
}

@keyframes parallax_fg {
  0% {
    background-position: 2765px 100%;
  }
  100% {
    background-position: 550px 100%;
  }
}
@-webkit-keyframes parallax_bike {
  0% {
    background-position: -300px 100%;
  }
  100% {
    background-position: 2000px 100%;
  }
}
@keyframes parallax_bike {
  0% {
    background-position: -300px 100%;
  }
  100% {
    background-position: 2000px 100%;
  }
}
.logo {
  margin: 70px auto;
  position: absolute;
  z-index: 2;
  width: 100%;
}
.logo img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
@media (max-width: 700px) {
  .hero {
    min-height: 700px;
  }
  .layer-2a {
    top: 180px;
  }
  .layer-2a {
    top: 50px;
  }

  .layer-2ab {
    top: 80px;
  }
  .layer-3a {
    top: 220px;
  }

  .layer-3ab {
    top: 220px;
  }
  .logo img {
    max-width: 90%;
  }
}

.hero h1 {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero h2 {
  text-shadow: 0px 1.5px 2px rgba(255, 255, 255, 0.4);
}

.hero p {
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}

/* Menu Mobile */

.header_mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  position: relative;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
}

.menu-hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  transition: 1s tranform;
  width: 30px;
  height: 21px;
}

.menu-hamburger-line {
  width: 20px;
  height: 2.5px;
  background-color: #2c395b;
  border-radius: 5px;
}

.menu-hamburger-line:nth-child(2) {
  width: 30px;
  height: 2.5px;
  background-color: #2c395b;
  z-index: 1;
  transition: 0.5s width;
  border-radius: 5px;
}

.menu_mobile_content {
  position: fixed;
  top: 0;
  /* right: 0; */
  display: flex;
  opacity: 0;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 0;
  height: 100%;
  padding-top: 100px;
  background-color: white;
}

.menu_mobile_body {
  width: 100%;
  height: 100%;
  opacity: 1;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

.menu_mobile_item {
  display: flex;
  flex-direction: column;
  height: 100%;
  z-index: 2;
}

.socials {
  height: 20%;
  margin: 0 auto;
  display: flex;
}

.socials a {
  margin-left: 0;
  margin-top: 30px;
}

.menu_mobile_item ul {
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 10px 0;
  list-style: none;
  height: 80%;
}

.menu_mobile_item ul li a {
  margin-left: 0;
}

/* Fine menu mobile */

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
