.overlay {
  visibility: visible;
  opacity: 1;
  transition: all 1s;
}

.bg-modal {
  transform: scale(0.05);
  transition: 1s all;
  transition-delay: 300ms;
  opacity: 0;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  border-radius: 10px;
}


.scale-modal {
  transform: scale(1);
  opacity: 1;
}
.hide {
  visibility: hidden;
  opacity: 0;
}
