.testimonial {
  border-radius: 5px; /* Arrotonda gli angoli del riquadro della recensione */
  padding: 30px;
}

.line-clamp {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.box-folded__trigger {
  display: block;
  position: absolute;
  bottom: 0;
  cursor: pointer;
  color: #fe6847;
}

.box-folded--expanded .box-folded__content {
  max-height: 100%;
}
.box-folded--expanded .box-folded__content::before,
.box-folded--expanded .box-folded__trigger {
  opacity: 0;
  visibility: hidden;
}
