.image-div {
  display: flex;
  justify-content: space-between;
}
.image-div img {
  width: 33%;
}

.paragrafo p {
  font-size: 20px;
  color: #6d7b80;
}

strong {
  color: var(--primary);
  opacity: 90%;
}

@media screen and (max-width: 768px) {
  .image-div {
    flex-direction: column;
  }

  .image-div img {
    width: 100%;
  }
  .image {
    width: 100%;
  }
}
