.image-div {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .image-div {
    flex-direction: column;
  }

  .image-div img {
    width: 100%;
  }
  .image {
    width: 100%;
  }
}
